[submodule "dotfiles/common/.config/nvim"]
	path = dotfiles/common/.config/nvim
	url = git@github.com:cjcounsell/init.lua
[submodule "dotfiles/work"]
	path = dotfiles/work
	url = git@github.com:cjcounsell/work
