@import "mocha.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  margin: 5px 0;
  background: @surface0;
}

#workspaces button {
  color: @lavender;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#clock,
#power-profiles-daemon,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.75rem;
  margin: 5px 0;
}

#memory {
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
}

#custom-music {
  color: @mauve;
  margin-right: 0.5rem;
}

#custom-lock {
  /* border-radius: 5px 0px 0px 5px; */
  color: @lavender;
}

#custom-power {
  color: @red;
}

#tray {
  /* margin-right: 1rem; */
  /* margin-left: 1rem; */
  /* border-radius: 5px; */
}
